*{
    border-radius: 15px;
    }
    .formLogin{
        width: 250px;
        margin: 20% auto 0;
        font-family: sans-serif;
    }
    
    .formLogin, fieldset{
        background: #d969fb;
    
    }
    
    .formLogin label{
        margin-top: 15px;
        margin-bottom: 5px;
        display: block;
    
    }
    
    #user, #pass, .btn{
        display:block;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        font-size: 18px;
        border: none;
    }
    
    #user, #pass, .btn{
        background: rgb(135, 63, 184);
        
    }
    #user:focus, #pass:focus{
        background: #bd83ec;
    
    }
    
    .btn{
        margin-top: 15px;
    
    }
    
    #user{
        margin-bottom: 15px;
    }
    